<!--Data som används som Partial-->
<div class="partial-content">
    <h3>Latest news</h3>
    <p>This is a partial view</p>
    
    <div>
        <h4>
            Taylor Swift Launches Groundbreaking Virtual Reality Concert Experience:
        </h4>
        <p>
            Taylor Swift surprises fans with an innovative virtual reality concert experience, allowing fans worldwide to immerse themselves in her performances from the comfort of their homes.
        </p>
    </div>



    <div>
        <h4>
            Taylor Swift Collaborates with NASA on Space-themed Music Video: 
        </h4>
        <p>
            Swift teams up with NASA to produce a visually stunning music video set in space, merging her passion for music with the wonders of the cosmos.
        </p>
    </div>


     <div>
        <h4>
            Taylor Swift Pens Memoir Detailing Rise to Stardom and Personal Journey: 
        </h4>
        <p>
            The Grammy-winning artist announces the release of her memoir, offering fans an intimate look into her life, career, and the moments that shaped her into the superstar she is today.
        </p>
    </div>

</div>